# This is where all the leaderboards are stored for tracking snipes
# https://www.mongodb.com/ create an account here and make a cluster
# After that, wait until it's done and click 'Connect', select 'Drivers' and ensure 'Node.js' is selected
# You will see a connection string like 'mongodb+srv...', copy paste this here and replace the password with the database password
# From the previous screen, select 'Browse collections' and create a new database called 'osusnipebot'
MONGODB_URL=

# This is the token for your Discord bot, see https://discord.com/developers/applications
BOT_TOKEN=

# This is your osu! api key, see https://osu.ppy.sh/home/account/edit#oauth -> new oauth application
API_KEY=

# This is the session key for your osu! account, supporter is required so that country leaderboards can be retrieved
# Open the browser devtools, for chrome go to 'Application' -> 'Cookies' -> https://osu.ppy.sh
# From there, copy the value of the 'osu_session' cookie
# Note that if you log out, this cookie is no longer valid and needs to be updated
SESSION_KEY1=

# Discord user id, only this id will be able to run the rebuild commands
OWNER_ID=

# WebSocket address, for use with https://github.com/MaxOhn/scores-ws to receive score events
WEBSOCKET_IP=127.0.0.1:7727